{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block content %}
  <div class="site-wrap">

    <form method="post">
      <fieldset>
        <legend>A dice game</legend>

        <p class="btn-container">
          <input type="submit" name="roll" value="Roll" class="btn">
          <input type="submit" name="save" value="Save" class="btn">
          <input type="submit" name="clear" value="Clear" class="btn">
          <input type="submit" name="info" value="Info" class="btn">
        </p>

        {{ include('form/flash-message.html.twig') }}

      </fieldset>
    </form>
  </div>
{% endblock %}