:root {
    --accent: #2275C8;
    --dark-bkg: #10302B;
    --text: #66717e;
    --light-text: #EACCC8;
    --green-text: #67B43E;
    --gradient-blue: linear-gradient(260deg, var(--accent) 0%, var(--light-text) 100%);
    --gradient-green: linear-gradient(260deg, var(--dark-bkg) 0%, var(--text) 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark-bkg);
    color: var(--light-text);
    text-align: center;
    font-family: "Arvo", serif;
}

/* EXTRA  */

.x-margin-top {
    margin-top: 12rem;
}

.code {
    background-color: black;
    margin: 12px;
    width: 400px;
}

/* HEADER */

header {
    height: 70vh;
    background: url("../img/headerbkg_1.jpeg") bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Title;
}

header h1 {
    background-color: var(--accent);
    opacity: 0.8;
    padding: 18px;
    border-radius: 12px;
    color: var(--green-text) font-family: Title;
}

/* ARROW-DOWN */
.arrow-container {
    padding: 2em;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
    z-index: 1;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* NAVBAR */
.nav-bar-color {
    background-image: var(--gradient-green) !important;
}

.nav-bar {
    background-image: var(--gradient-blue);
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    border: 1px solid var(--accent);
    margin: 12px;
    border-radius: 12px;
}

nav a {
    text-decoration: none;
    font-family: Title;
    padding: 20px;
    display: inline-block;
    color: var(--light-text);
    transition: all 0.2s;
    text-transform: uppercase;
    text-shadow: var(--dark-bkg) 0px 0px 10px;
}

nav ul li a:hover {
    color: var(--blue);
    border: 0.5px solid var(--light-text);
    border-radius: 12px;
}

/* NAVBAR DROPDOWN */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: var(--dark-bkg) 0px 0px 10px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: Title;
    padding: 20px;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: var(--blue);
    border: 0.5px solid var(--light-text);
    border-radius: 12px;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* IMAGES */
.me-img {
    border-radius: 12px;
    width: 200px;
    box-shadow: var(--accent) 0px 20px 30px -10px;
}

.me-img:hover {
    box-shadow: var(--light-green) 0px 20px 30px -10px;
}

/* LINKS */
.standard-link {
    font-family: Font;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    border-radius: 12px;
    color: var(--light-text);
    box-shadow: var(--accent) 0px 20px 30px -10px;
    background-color: var(--accent);
}

.standard-link:hover {
    background-color: var(--dark-bkg);
    border-radius: 12px;
    padding: 1em;
}

/* TYPOGRAPHY */
@font-face {
    font-family: Title;
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Font;
    src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

.site-wrap {
    background: var(--text);
    padding: 40px;
    margin: 6em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

h1 {
    margin-bottom: 12px;
    font-size: 48px;
    font-family: Title;
}

h2 {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid var(--purple);
    border-radius: 12px;
    box-shadow:
        rgba(0, 0, 0, 0.3) 5px 19px 38px,
        rgba(0, 0, 0, 0.22) 5px 15px 12px;
    font-family: Title;
}

h4 {
    text-decoration: underline;
    font-size: 20px;
    color: var(--light-grey);
    letter-spacing: 0.1em;
    margin-top: 1em;
    font-family: Title;
}

p {
    margin: 1em;
    padding: 1em;
    font-size: 18px;
    line-height: 2em;
    word-spacing: 0.1em;
    text-shadow: var(--accent) 0px 0px 10px;
    font-family: Font;
    border-radius: 12px;
}

/* FORM */

form {
    padding: 20px;
}

input, textarea {
    margin: 1em;
    width: 100%
}

.errorMsg {
    border: solid red 2px;
    font-family: Title;
    padding: 30px;
    font-size: 25px;
    margin: 12px;
    box-shadow: 0 5px 0 rgb(233, 17, 17);
}

.infoMsg {
    border: solid blue 2px;
    font-family: Title;
    padding: 30px;
    font-size: 25px;
    margin: 12px;
    box-shadow: 0 5px 0 rgb(8, 8, 236);
}

label {
    text-decoration: underline;
    font-size: 20px;
    color: var(--light-grey);
    letter-spacing: 0.1em;
    margin: 1em;
    font-family: Title;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    font-family: Font;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    margin: 3px;
    border-radius: 5px;
    color: var(--light-text);
    box-shadow: var(--accent) 0px 10px 15px -5px;
    background-color: var(--accent);
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--dark-bkg);
    border-radius: 12px;
    padding: 1em;
}


/* CARD */
.card-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 12px;
    justify-content: center;
    padding-bottom: 12px;
}

.card {
    border: 1px solid black;
    height: 90px;
    width: 75px;    
    padding: 1em 1em;
    border-radius: 5px;
    box-shadow: 5px 10px;
    background-color: white;
    color: black;
    align-items: center;
}

.card li {
    list-style-type: none;
}

.red-suit {
    color: red;
    font-size: 25px;
    padding-bottom: 3px;
}

.black-suit {
    color: black;
    font-size: 25px;
    padding-bottom: 3px;
}

/* PLAYER */
.player-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-gap: 12px;
    justify-content: center;
    padding-bottom: 12px;
}

.cardHand {
    display: grid;
    grid-template-columns: 180px auto auto auto auto auto auto auto;
    grid-gap: 0.5em;
}

.player-title {
    margin-right: 1em;
}


/*LIBRARY*/

.book-container {
    border-style: groove;
    box-shadow: 15px 10px #000;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: grid;
    grid-template-areas: 
    'header header footer'
    'left left right'
    'main image image'
    'main image image'
}

.title {
    grid-area: header;
    font-size: 32px;
    border: 3px solid #000;
}

.author {
    grid-area: left;
}

.isbn {
    grid-area: right;
}

.description {
    grid-area: main;
}

.book-image {
    grid-area: image;
    border-style: groove;
    box-shadow: 15px 10px #000;
    margin: .5em;
    width: 250px;
    height: 300px;
    border-radius: 1em;
}

.btns {
    grid-area: footer;
    padding-top: 3em;
}

/* FOOTER */
.sitefooter {
    background-image: var(--gradient-green);
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
    margin-top: 3em;
}

.sitefooter p {
    color: var(--light-text);
    transition: all 0.2s;
    text-transform: uppercase;
    text-shadow: var(--dark-bkg) 0px 0px 10px;
    font-family: Title;
}