{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
  <div class="site-wrap">
    <h1>{{ title }}</h1>
    <p class="btn-container">
        <a href="{{path("card-deck")}}" class="btn">Deck</a>
        <a href="{{path("card-shuffle")}}" class="btn">Shuffle</a>
        <a href="{{path("card-draw")}}" class="btn">Draw cards</a>
        <a href="#" class="btn">Cardgame with players</a>
    </p>
  </div>
{% endblock %}