{% extends 'base.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="site-wrap">
    <article>
      <h1>MVC - DV1609</h1>

      <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>
      <a href="https://github.com/dbwebb-se/mvc" target="_blank" class="standard-link">GitHub repo</a>
    </article>
  </div>
{% endblock %}