{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <section class="content-wrapper">
      <ul class="list">
        <h4>Database</h4>
        <li>
          <a href="{{path('project-reset')}}" class="standard-link">Ställ om Databasen</a>
        </li>
        <h4>Dokumentation</h4>
        <li>
          <a href="../../docs/api" target="_blank" class="standard-link">PHP Docs rapport</a>
        </li>
        <li>
          <a href="../../docs/metrics" target="_blank" class="standard-link">PHP Metrics rapport</a>
        </li>
        <li>
          <a href="https://github.com/fridavbg/report" target="_blank" class="standard-link">Github repo</a>
        </li>
        <li>
          <a href="https://scrutinizer-ci.com/g/fridavbg/report/" target="_blank" class="standard-link">Scrutinizer</a>
        </li>
      </ul>
      <article class="summary">
        <h1>
          Om hav och marina resurser
        </h1>
        <p>
          Detta projekt handlar om våra hav och marina resurser. Anledningen till att jag valt detta, är helt utav personliga anledningar. Jag är uppväxt på den svenska västkusten där fiske är en stor del utav vardagen. Många timmar som barn spenderades med att fiska krabbor på stranden, eller rida igenom skogen för att bada och fiska i en sjö.
        </p>
        <img src="{{asset('img/project/syfairwinds.jpeg')}}" alt="S/Y Fairwinds my home while sailing the high seas" class="boat-img"/>
        <p>
          År 2015 så gav jag mig för första gången ut på en längre segeltur. Med väldigt lite segelerfarenhet, så mötte jag upp ett par vänner i Galicien, och sen bar det iväg till Marocko, över Atlanten och en massa öar i Karibien. En utav den bästa resan som jag har gjort, som jag skulle kunna berätta mycket mer om. Men det får vi ta en annan gång, dock är det en sak som alltid kommer finnas kvar i mitt minne. Det är tyvärr allt skräp som vi såg, speciellt efter ö hoppat i Karibien och snorklat på dem mest magiska platserna.
        </p>
        <p>
          Så mitt mål med detta projekt därför att kunna ta reda på lite mer hur det ser ut för världens hav och marina resurser, och vad kan man som privat person göra för att hjälpa till att bidra till en förbättring.
        </p>
        <h1>Projektets kodkvalitet</h1>
        <p>
          Medans jag byggde projektet så hade jag alltid ett par steg i åtanke.
        </p>
        <ol class="list-wrapper">
          <li>Lägga till en funktionalitet</li>
          <li>Skapa tester</li>
          <li>Se över resultat i PHP Metrics</li>
          <li>Kolla eventuella fel ifrån composer linter</li>
          <li>Se över resultat i Scrutinizer</li>
          <li>Göra eventuella ändringar och förbättringar</li>
        </ol>
        <p>
          Detta för att varje ny funktionalitet som läggs till i projektet, ses över i mindre delar för att på så sätt undvika eventuella felsteg i min logik, och onödig komplexitet. Även för min egen del så har det känns bäst att jobba med en rutin, då jag kände att det kunde lätt hända att jag missade att köra ett script.
        </p>
        <p>
          Dem verktyg som jag använt mig utav är Scrutinizer och PHPMetrics samt php-codesniffer, phpstan, phpmd och phpdoc. Med hjälp utav fel meddelande ifrån dessa verktyg så känner jag att jag har kunnat ha en bra struktur, och lättare kunnat se över kodfunktionalitet som behövts förenklas.
        </p>
        <p>
          Alla verktyg förutom phpmd går igenom utan några anmärkningar. Fyra varningar ifrån phpmd visas för LoginFormAuthenticator.php, som handlar om coupling och oanvända parametrar. Jag har valt att ej åtgärda detta för att filen har skapats med make, och därför ej är min egna kod. Detta kommer ifrån PHPs dokumentation angående hur man skapar ett inlogg, och jag fann att det fanns många olika saker som kunde göras för att göra en starkare inloggning. Dock så valde jag att lämna detta då mitt inlogg fungerar, men det finns en del att åtgärda angående säkerheten, som kan vara ett område för förbättring i framtiden.
        </p>
      </article>
    </section>
  </div>
{% endblock %}
