{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <section class="content-wrapper">
      <ul class="list">
        <h4>Database</h4>
        <li>
          <a href="{{path('project-reset')}}" class="standard-link">Ställ om Databasen</a>
        </li>
        <h4>Dokumentation</h4>
        <li>
          - Länk till dokumentationen som är genererad via phpdoc.
        </li>
        <li>
          - Länk till rapporten från phpmetrics.
        </li>
        <li>
          <a href="https://github.com/fridavbg/report" target="_blank" class="standard-link">Github repo</a>
        </li>
        <li>
          <a href="https://scrutinizer-ci.com/g/fridavbg/report/" target="_blank" class="standard-link">Scrutinizer</a>
        </li>
      </ul>
      <article class="summary">
        <h1>
          Om hav och marina resurser
        </h1>
        <p>
          Detta projekt handlar om våra hav och marina resurser. Anledningen till att jag valt detta, är helt utav personliga anledningar. Jag är uppväxt på den svenska västkusten där fiske är en stor del utav vardagen. Många timmar som barn spenderades med att fiska krabbor på stranden, eller rida igenom skogen för att bada och fiska i en sjö.
        </p>
        <p>
          År 2015 så gav jag mig för första gången ut på en längre segeltur. Med väldigt lite segelerfarenhet, så mötte jag upp ett par vänner i Galicien, och sen bar det iväg till Marocko, över Atlanten och en massa öar i Karibien. En utav den bästa resan som jag har gjort, som jag skulle kunna berätta mycket mer om. Men det får vi ta en annan gång, dock är det en sak som alltid kommer finnas kvar i mitt minne. Det är tyvärr allt skräp som vi såg, speciellt efter ö hoppat i Karibien och snorklat på dem mest magiska platserna.
        </p>
        <p>
          Så mitt mål med detta projekt därför att kunna ta reda på lite mer hur det ser ut för världens hav och marina resurser, och vad kan man som person göra för att hjälpa till att bidra till en förbättring.
        </p>
        <h1>Projektets kodkvalitet</h1>
        <p>
          - Din about-sida skall innehålla en summering där du berättar om projektets kodkvalitet. Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt. Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.
        </p>
      </article>
    </section>
  </div>
{% endblock %}
