{% extends 'projectBase.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block content %}
  <div class="project-wrapper">
    <h1>Hav och marina resurser</h1>
    <p>
        Bevara och nyttja haven och de marina resurserna på ett hållbart sätt för en hållbar utveckling
    </p>
  </div>
{% endblock %}
