{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="project-wrapper">
    <div>
      <h1>
        Hav och marina resurser
      </h1>
      <p>
        Bevara och nyttja haven och de marina resurserna på ett hållbart sätt för en hållbar utveckling
      </p>
      <p>
        Världens hav – deras temperatur, kemi, strömmar och liv – driver globala system som gör jorden beboelig för mänskligheten. Haven täcker 70 procent av vår planet och över tre miljarder människor är beroende av den marina och kustnära biologiska mångfalden för sin försörjning. Hur vi hanterar våra hav är avgörande för mänskligheten som helhet och för att balansera effekterna av klimatförändringarna.
      </p>
      <img src="{{asset('img/project/cod.jpg')}}" width="500" alt="Torsk stim" class="cod-img"/>
      <p>
        Överfiske, försurning, gifter och föroreningar är några av de problem som drabbar våra hav idag. Visste du till exempel att åtta miljoner ton plast hamnar i haven varje år? Fortsätter det i denna takt kommer haven att bestå av mer plast än fisk år 2050. Vi måste skydda våra hav och säkerställa hållbar användning av havsbaserade resurser och ekosystem. Vi har alltid behövt haven. Nu behöver haven oss.
      </p>

      <h4>AVSKAFFA SUBVENTIONER SOM BIDRAR TILL ÖVERFISKE</h4>
      <p>
        Senast 2020 förbjuda vissa former av fiskesubventioner som bidrar till överkapacitet och överfiske, avskaffa subventioner som bidrar till olagligt, orapporterat och oreglerat fiske och avstå från att införa nya sådana subventioner, med erkännande av att en ändamålsenlig och effektiv särskild och differentierad behandling av utvecklingsländerna och de minst utvecklade länderna bör vara en integrerad del av förhandlingarna om fiskesubventioner i Världshandelsorganisationen.* *Med beaktande av pågående förhandlingar i Världshandelsorganisationen, utvecklingsagendan från Doha och mandatet från ministermötet i Hongkong.
      </p>
      <img src="{{asset('img/project/tuna.jpg')}}" width="500" alt="Tuna stim" class="tuna-img"/>
      <h4>MINSKA FÖRORENINGARNA I HAVEN</h4>
      <p>
        Till 2025 förebygga och avsevärt minska alla slags föroreningar i havet, i synnerhet från landbaserad verksamhet, inklusive marint skräp och tillförsel av näringsämnen.
      </p>
      <div class="chart-wrapper">
        <h4>Plast producton i ton ifrån 2015</h4>
        {{ render_chart(chart, {'class': 'sector-chart'}) }}
      </div>
    </div>

    <div class="login-container">
      <center>
        <h1>
          Login / Register
        </h1>
      </center>
      <form>
        <div class="container">
          <label>Username :
          </label>
          <input type="text" placeholder="Enter Username" name="username" required="required">
          <label>Password :
          </label>
          <input type="password" placeholder="Enter Password" name="password" required="required">
          <button type="submit">Login</button>
          <input type="checkbox" checked="checked">
          Remember me
          <button type="button" class="cancelbtn">
            Cancel</button>
          Forgot
          <a href="#">
            password?
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
