<!-- LOGIN -->
<div class="login-container">
<div class="login-row">
    <div class="login-form">
    <form method="post">
        <h2>Please sign in</h2>
        <div>
        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" required="required" autofocus="autofocus">
        </div>
        <div>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" required="required">
        </div>
        <div>
        <button class="btn" type="submit">
            Sign in
        </button>
        {{dump(test)}}
        </div>
    </form>
