{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <h1>
      Databasen har blivit återställd
    </h1>
    <p>
      Databasen innehåller
      {{userCount}}
      användare.
    </p>
  </div>
  <div class="btn-container">
    <a class="back-btn" href="{{path('project')}}">
      Gå tillbaka
    </a>
  </div>
{% endblock %}
