{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <h1>
      Databasen har blivit 책terst채lld.
    </h1>
    <p>
      Databasen inneh책ller
      {{userCount}}
      anv채ndare.
    </p>
  </div>
{% endblock %}
