{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <h1>
      TEST
    </h1>
    <div>
      {{ render_chart(plasticProductionChart, {'class': 'sector-chart'}) }}
    </div>
    {# <code>
    {{dump(chart)}}
    </code> #}
  </div>
{% endblock %}
