{% extends 'projectBase.html.twig' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="about-wrapper">
    <h1>
      TEST
    </h1>
    <div>
      {{ render_chart(chart) }}
      {{ render_chart(chart, {'data-controller': 'mychart'}) }}
    </div>
    <code>
    {{dump(chart)}}
    </code>
  </div>
{% endblock %}
